html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


.gallery{
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0px;
  justify-content: space-between;
}
.gallery:nth-child(3n+1){
  margin-right: 0px;
}
.photo-card{
  width: 290px;
}
img{
  width: 100%;
  height: 250px;
}

.stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-item{
  vertical-align: center;
}
.material-icons{
  color: grey;
}

.material-icons:hover{
  color: blue;
}
